.app-wrapper {
  display: grid;
  margin: 0 auto;
  height: 1000px;

  grid-template-areas: 
  "header header" 
  "nav content";



  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
}

.app-wrapper-content {
  grid-row: content;
  background-color: cadetblue;
}